nav {
    display: flex;
    width: 100%;
   overflow-x: hidden; 
   overflow-y: visible;
}

ul {
    list-style: none;
    display: inline-block;
    align-self: center;
}

li{
    display: inline;
    margin: 30px;
    
}

input{
    height: 35px;
    align-self: center;
    width: 400px;
  /*  background-image: ;
    background-position: ; */
}

a{
    text-decoration: none;
    color: rgb(117, 117, 117);
    font-family: 'Trebuchet MS', sans-serif;
}

a:hover {
    color: rgb(255, 0, 0);
}

.dud {
    color: rgb(255, 0, 0);
}

.logo {
    margin: 10px;
}

.temas{
    display: flex;
    flex-direction: row;   
  /*  height: 200px;*/
    width: 100px; 
   
}

.item {
    display: flex;
    flex-direction: row;
    width: 200px;
}

section nav div{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(133, 133, 133);

}

section nav div:hover {
    transform: scale(1.1) translateY(-10px);
    transition: all 250ms;
}

section nav div:hover > p{
    color: red;
}

section nav div {
    margin: 10px;
    z-index: 5;
}

section nav div img {
    border-radius: 20px;
}

.oto {
    position: absolute;
    z-index: 10;
    top: 45%;
    width: 100%;
}

.oto:hover {
    transform: scale(1.0) translateY(0);
}

.ladinho1{
    background: gray;
    width: 64px;
    height: 64px;
    position: relative;
    left: -46%;
}

.ladinho2{
    background: gray;
    width: 64px;
    height: 64px;
    position: relative;
    left: 44%;
}

.lupa {
    height: 35px ;
    align-self: center;
    margin-left: -35px;
}

.uicpv {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 50px;
    margin-left: 20px;
    font-size: 20px;
}